.md {
  overflow-wrap: break-word;
}
.md h1 {
  font-size: 1.8rem;
  line-height: 1.5;
  font-weight: bold;
  border-bottom: 2px solid #eee;
  margin-top: 2.2rem;
  margin-bottom: 2.4rem;
}
.md h2 {
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: bold;
  border-bottom: 2px solid #eee;
  margin-top: 2.2rem;
  margin-bottom: 2.4rem;
}

.md img {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}
